#contact iframe
{
    width: 100%;
}
.aboutus_mainDiv{
border: 1px solid orangered;
}


.aboutus_mainDiv h5 , .travel_mainDiv p{
    margin: 20px;
}
.camp img {
size: 200%;
}
.camp{
    padding-bottom: 20px;
}